.minecraft/
instance/
run/
logs/
crash-reports/
saves/
screenshots/

# Не коммитим скачанные моды, если они не managed через packwiz
*.jar
!manual mods/*.jar

# OS/editor мусор
.DS_Store
Thumbs.db
.idea/
.vscode/